.App {
  font-family: sans-serif;
  text-align: center;
}

.blink {
  color: red;
  animation: blink-animation 1s steps(5, start) infinite;
}

@keyframes blink-animation {
  to {
    visibility: hidden;
  }
}

* {
  font-size: 1rem;
}
